[Desktop Entry]
Encoding=UTF-8
Name=MythTV Web App Backend Setup
Comment=Setup for mythTV.
GenericName=MythTV Web App Backend Setup
Icon=mythtv-setup.png
URL=http://localhost:6544/setupwizard
Terminal=false
Type=Link
