[Desktop Entry]
Encoding=UTF-8
Name=mythTV frontend
Comment=Record, playback and watch TV.
Icon=mythfrontend.png
Exec=mythfrontend
Terminal=false
Type=Application
