#!/bin/sh -e
#Try and connect to a sane default before
#actually looking for input
. /usr/share/debconf/confmodule

db_input low  mythtv/mysql_host || true
db_input low mythtv/mysql_admin_user || true
db_get mythtv/mysql_admin_user
USER="$RET"
db_subst mythtv/mysql_admin_password user "$USER"
db_input medium mythtv/mysql_admin_password || true

#Ask the user about expandability
db_input high mythtv/public_bind || true
db_go || true

exit 0
