#!/bin/sh -e

. /usr/share/debconf/confmodule

found_bogons=""
for bogon in bin/mythfilldatabase bin/mythfrontend bin/mythbackend \
    lib/libmyth-0.8.so.0; do
  file=/usr/local/$bogon
  if [ -f /usr/local/$bogon ]; then
      found_bogons="$found_bogons $file"
  fi
done

if [ -n "$found_bogons" ]; then
    db_subst mythtv/old_bins files "$found_bogons"
    db_input high mythtv/old_bins || true
fi

CONFIG=/etc/mythtv/mysql.txt
if [ -e $CONFIG ]; then
    db_set mythtv/mysql_mythtv_dbname "`sed -n -e 's/^\(str  *\)\?DBName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_user "`sed -n -e 's/^\(str  *\)\?DBUserName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_password "`sed -n -e 's/^\(str  *\)\?DBPassword=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_host "`sed -n -e 's/^\(str  *\)\?DBHostName=\(.*\)$/\2/gp;' $CONFIG`"
fi

db_input low mythtv/mysql_mythtv_dbname || true
db_input low mythtv/mysql_mythtv_user || true
db_input low mythtv/mysql_mythtv_password || true

db_input medium mythtv/mysql_host || true

db_go

exit 0
