#!/bin/sh
. /usr/share/debconf/confmodule

CONFIG=/etc/mythtv/mysql.txt
if [ -e $CONFIG ]; then
    db_set mythtv/mysql_mythtv_dbname "`sed -n -e 's/^\(str  *\)\?DBName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_user "`sed -n -e 's/^\(str  *\)\?DBUserName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_password "`sed -n -e 's/^\(str  *\)\?DBPassword=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_host "`sed -n -e 's/^\(str  *\)\?DBHostName=\(.*\)$/\2/gp;' $CONFIG`"
fi

MYTHWEB_CONFIG=/etc/default/mythweb
if [ -e $MYTHWEB_CONFIG ]; then
	db_set mythweb/enable "`sed -n -e 's/^\(str  *\)\?enable = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
	db_set mythweb/only "`sed -n -e 's/^\(str  *\)\?only = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
	db_set mythweb/username "`sed -n -e 's/^\(str  *\)\?username = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
	db_set mythweb/password "`sed -n -e 's/^\(str  *\)\?password = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
fi

#Ask these questions regardless
db_input high mythweb/enable || true
db_input high mythweb/only || true
db_go

#If enabled, then we ask these too
db_get mythweb/enable
if [ "$RET" = "true" ]; then
	db_input high mythweb/username || true
	db_input high mythweb/password || true
	db_go 
fi
