#!/usr/bin/make -f

#                 #
# get-orig-source #
#                 #
SVN_PACKAGE+=$(shell dpkg-parsechangelog | sed -ne 's/^Source: *\(.*\)/\1/p')
SVN_TYPE+=$(shell dpkg-parsechangelog | sed -rne 's/^Version: *.......(.*).....-.*/\1/p')
SVN_MAJOR_RELEASE+=$(shell dpkg-parsechangelog | sed -rne 's/^Version: *..(.*).............-.*/\1/p')
SVN_MINOR_RELEASE+=$(shell dpkg-parsechangelog | sed -rne 's/^Version: *.....(.*)...........-.*/\1/p')
SVN_REVISION:=$(shell dpkg-parsechangelog | sed -ne 's/^Version: *............\(.*\)-.*/\1/p')
DELIMITTER+=$(shell dpkg-parsechangelog | sed -rne 's/^Version: *......(.*)..........-.*/\1/p')

ifeq "$(SVN_TYPE)" "trunk"
	SVN_BRANCH+= http://svn.mythtv.org/svn/$(SVN_TYPE)/$(SVN_PACKAGE)
else
	SVN_BRANCH+= http://svn.mythtv.org/svn/branches/release-0-$(SVN_MAJOR_RELEASE)-$(SVN_TYPE)/$(SVN_PACKAGE)
endif

SVN_RELEASE=0.$(SVN_MAJOR_RELEASE).$(SVN_MINOR_RELEASE)
SUFFIX+="$(DELIMITTER)$(SVN_TYPE)$(SVN_REVISION)"
TARFILE+=$(SVN_PACKAGE)_$(SVN_RELEASE)$(SUFFIX).orig.tar.gz

get-orig-source:
	svn export -r $(SVN_REVISION) $(SVN_BRANCH) $(SVN_PACKAGE)-$(SVN_RELEASE)$(SUFFIX)
	tar czf $(CURDIR)/../$(TARFILE) $(SVN_PACKAGE)-$(SVN_RELEASE)$(SUFFIX)
	rm -rf $(CURDIR)/$(SVN_PACKAGE)-$(SVN_RELEASE)$(SUFFIX)

info:
	echo "Package: $(SVN_PACKAGE)" \
		"Type: $(SVN_TYPE)" \
		"Major Release: $(SVN_MAJOR_RELEASE)" \
		"Minor Release: $(SVN_MINOR_RELEASE)" \
		"Total Release: $(SVN_RELEASE)" \
		"Rev: $(SVN_REVISION)" \
		"Delimitter: $(DELIMITTER)" \
		"Branch: $(SVN_BRANCH)" \
		"Suffix: $(SUFFIX)" \
		"Tarfile: $(TARFILE)"

#                                      #
# Architecture Independent Build flags #
#                                      #
CONFIGURE_OPTS +=   --compile-type=profile \
					--prefix=/usr \
					--runprefix=/usr \
					--enable-lirc \
					--enable-audio-alsa \
					--enable-audio-oss \
					--enable-audio-jack \
					--enable-dvb \
					--enable-ivtv \
					--enable-firewire \
					--enable-joystick-menu \
					--enable-opengl-vsync \
					--with-bindings=perl \
					--enable-opengl-video \
					--enable-ffmpeg-pthreads

#                                    #
# Architecture dependent build flags #
#                                    #
DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq "$(DEB_BUILD_ARCH)" "i386"
	CONFIGURE_OPTS +=  --cpu=i686 --enable-mmx --enable-xvmc --enable-xvmc-vld --enable-xvmc-pro --enable-glx-procaddrarb --enable-vdpau
endif
ifeq "$(DEB_BUILD_ARCH)" "sparc"
	CONFIGURE_OPTS += --enable-xvmc --enable-xvmc-vld --enable-xvmc-pro --extra-cflags="-mcpu=ultrasparc -mvis"
endif
ifeq "$(DEB_BUILD_ARCH)" "amd64"
	CONFIGURE_OPTS += --enable-xvmc --enable-xvmc-vld --enable-xvmc-pro --enable-glx-procaddrarb --enable-vdpau
endif

%:
	dh --with quilt $@

override_dh_auto_configure:
	#update SVN REVISION to show the right version
	sed -i -e "s/^\(\(str  *\)\?SOURCE_VERSION\)=.*$$/\1=$(SVN_REVISION)/g;" version.sh

	#Run configure
	./configure $(CONFIGURE_OPTS)

override_dh_auto_build:
	qmake -o Makefile PREFIX=/usr mythtv.pro
	dh_auto_build --parallel

override_dh_auto_install:
	$(MAKE) install INSTALL_ROOT=$(CURDIR)/debian/tmp

	#Make sure python/perl scripts are executable
	find debian/tmp/usr/share -name "*.p[y|l]" -type f -exec chmod 755 {} \;

	#We replace these with shell scripts
	mv debian/tmp/usr/bin/mythfrontend debian/tmp/usr/bin/mythfrontend.real
	mv debian/tmp/usr/bin/mythtv-setup debian/tmp/usr/bin/mythtv-setup.real

override_dh_installinit:
	# The upstart script comes from contrib
	cp contrib/Linux/init_scripts/upstart.mythtv-backend.conf debian/mythtv-backend.upstart
	dh_installinit

override_dh_strip:
	dh_strip --dbg-package=mythtv-dbg

override_dh_makeshlibs:
	dh_makeshlibs -V -Xusr/lib/mythtv/filters

override_dh_compress:
	dh_compress -X.pl -X.py

override_dh_fixperms:
	dh_fixperms -X.pl -X.py
