Source: mythtv
Section: graphics
Priority: optional
Maintainer: MythTV Ubuntu Maintainers <ubuntu-mythtv@lists.ubuntu.com>
Uploaders: Mario Limonciello <superm1@ubuntu.com>,
           Andres Mejia <amejia@debian.org>,
Homepage: http://www.mythtv.org
Standards-Version: 3.9.4
Vcs-Git: git://github.com/MythTV/packaging.git
Build-Conflicts: libqt3-mt-dev
Build-Depends:  debhelper (>= 9),
                quilt,
                ccache,
                yasm,
                help2man,
                qtdeclarative5-dev,
                libqt5webkit5-dev,
                libqt5opengl5-dev,
                qtscript5-dev,
                qt5-qmake,
                po-debconf,
                linux-kernel-headers,
                libdvdnav-dev,
                libfreetype6-dev,
                libavc1394-dev,
                libiec61883-dev,
                liblircclient-dev,
                libxinerama-dev | xlibs-static-dev (<< 6.8.1-1),
                libxxf86vm-dev | xlibs-static-dev (<< 6.8.1-1),
                libcrystalhd-dev [i386 amd64],
                libxvmc-dev | xlibs-static-dev (<< 6.8.1-1),
                libxext-dev | xlibs-static-dev (<< 6.8.1-1),
                libimlib2-dev,
                libasound2-dev,
                libmp3lame-dev | liblame-dev,
                libsamplerate0-dev,
                libvorbis-dev,
                libdts-dev,
                lsb-release,
                libpulse-dev,
                libxrandr-dev,
                libfftw3-dev,
                libva-dev,
                libvdpau-dev | nvidia-190-libvdpau-dev [i386 amd64] | nvidia-185-libvdpau-dev [i386 amd64] | nvidia-180-libvdpau-dev [i386 amd64],
                libudev-dev,
                libclass-dbi-perl,
                libnet-upnp-perl,
                libio-socket-inet6-perl,
                libdbd-mysql-perl,
                libjson-perl,
                libwww-perl,
                dh-python | python-central,
                python,
                python-oauth,
                python-lxml,
                python-mysqldb,
                python-pycurl,
                python-urlgrabber,
                libgl1-mesa-dev | xlibmesa-gl-dev | xlibmesa-dev | libgl-dev,
                libdvdread-dev | libdvdread3-dev,
                fftw-dev,
                libvorbis-dev,
                libflac-dev,
                libmad0-dev,
                libcdaudio-dev,
                libcdio-dev,
                libcdparanoia-dev | libcdparanoia0-dev,
                libsdl2-dev,
                libfaad-dev | libfaad2-dev,
                libexif-dev (>= 0.6.9-6),
                libtiff5-dev | libtiff4-dev | libtiff-dev,
                libxv-dev,
                libtag1-dev,
                libvisual-0.4-dev,
                default-libmysqlclient-dev | libmysqlclient-dev,
                libdate-manip-perl,
                libxml-simple-perl,
                libimage-size-perl,
                libdatetime-format-iso8601-perl,
                libsoap-lite-perl,
                libx264-dev,
                libvpx-dev,
                libavahi-compat-libdnssd-dev,
                libssl-dev,
                libcdio-cdda-dev,
                libcdio-paranoia-dev,
                libxml2-dev,
                libass-dev,
                libcec-dev,
                libexiv2-dev,
                uuid-dev,
                libxml-xpath-perl,
                git,
                libsystemd-dev,
                dh-systemd,
                libraspberrypi-dev [armhf] | hello,
                libbluray-dev,
                libxnvctrl-dev,
                liblzo2-dev,
                libhdhomerun-dev

Package: mythtv
Architecture: all
Depends: default-mysql-server | virtual-mysql-server | mysql-server-5.7 | mysql-server-5.6 | mariadb-server,
         mythtv-database,
         mythtv-frontend,
         mythtv-backend,
         ntp | time-daemon | ntp-simple,
         ${misc:Depends}
Suggests: mythtv-doc
Description: Personal video recorder application (client and server)
 MythTV implements the following PVR features, and more, with a
 unified graphical interface:
 .
  - Basic 'live-tv' functionality. Pause/Fast Forward/Rewind "live" TV.
  - Video compression using RTjpeg or MPEG-4
  - Program listing retrieval using XMLTV
  - Themable, semi-transparent on-screen display
  - Electronic program guide
  - Scheduled recording of TV programs
  - Resolution of conflicts between scheduled recordings
  - Basic video editing
 .
 http://www.mythtv.org/
 .
 This package will install a complete MythTV client/server environment on a
 single system.  If you are intended on using this as your only MythTV machine,
 and this machine is already configured as a desktop, this package will get you
 up and running switfly.
 .
 If you are intended on installing this on a standalone/non-desktop machine,
 you should look into the Metapackages available:
 mythtv-backend-master (backend with a local database)
 mythtv-backend (backend needing a remote database)

Package: mythtv-common
Architecture: any
Pre-Depends: pwgen,
Depends: adduser,
         default-mysql-client | virtual-mysql-client | mysql-client-5.7 | mysql-client-5.6 | mariadb-client,
         fonts-liberation | ttf-liberation,
         fonts-droid-fallback | fonts-droid | ttf-droid,
         ttf-dejavu,
         fonts-tlwg-purisa,
         fonts-texgyre | tex-gyre,
         python,
         libxml-xpath-perl,
         pciutils,
         usbutils,
         python-future,
         python-requests,
         python-requests-cache,
         python-uritools,
         python3-uritools,
         python-mailer,
         python3-mailer,
         python-simplejson,
         python3-simplejson,
         python3-mysqldb,
         python3-future,
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: mythtv-doc
Recommends: mythtv-dbg
Conflicts: mythtv (<< 0.8-1),
           mythmusic (<< 0.20.99+trunk14393),
           mythweather (<< 0.20.99+trunk14393),
           mythcontrols,
           mythtv-themes,
           mythtv-theme-mythcenter,
           mythtv-theme-mythcenter-wide,
           mythtv-theme-gray-osd,
           mythtv-theme-isthmus,
           mythtv-theme-blootube,
           mythtv-theme-blootube-wide,
           mythtv-theme-blootubelite-wide,
           mythtv-theme-glass-wide,
           mythtv-theme-projectgrayhem,
           mythtv-theme-proejctgrayhem-wide,
           mythtv-theme-metallurgy,
           mythtv-theme-minimalist-wide,
           mythtv-theme-retro,
           mythtv-theme-titivillus,
           mythtv-theme-iulius,
           mythtv-theme-childish,
           mythtv-theme-neon-wide
Replaces:  mythtv (<< 0.8-1),
           mythtv-frontend (<< 0.23.0~trunk23548),
           mythmusic (<< 0.20.99+trunk14393),
           mythweather (<< 0.20.99+trunk14393),
           mythcontrols (<< 0.20.trunk19500),
           mythcontrols, mythtv-theme-mythcenter,
           mythtv-theme-mythcenter-wide,
           mythtv-theme-isthmus,
           mythtv-theme-gray-osd,
           mythtv-backend (<< 2:0.28.0~master.20150106.b8b9a1e-0ubuntu0mythbuntu4),
           mythtv-database (<< 0.24.0~trunk25638),
           mythvideo,
           mythtv-frontend (<< 2:0.28.0+fixes.20161010.38d9ba2-0ubuntu0mythbuntu4)
Breaks:    mythtv-backend (<< 2:0.28.0~master.20150106.b8b9a1e-0ubuntu0mythbuntu4),
           mythvideo,
           mythtv-frontend (<< 2:0.28.0+fixes.20161010.38d9ba2-0ubuntu0mythbuntu4)
Description: Personal video recorder application (common data)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains infrastructure needed by both the client and the
 server.

Package: mythtv-doc
Architecture: all
Conflicts: mythtv (<< 0.8-1)
Section: doc
Replaces: mythtv (<< 0.8-1)
Depends: ${misc:Depends}
Description: Personal video recorder application (documentation)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains documentation, including the MythTV HOWTO.

Package: mythtv-database
Architecture: all
Depends: mythtv-common,
         libdbd-mysql-perl,
         default-mysql-client | virtual-mysql-client | mysql-client-5.7 | mysql-client-5.6 | mariadb-client,
         cron,
         ${misc:Depends}
Recommends: update-notifier | update-notifier-kde
Conflicts: mythtv (<< 0.8-1), mythtv-common (<< 0.8-2)
Replaces: mythtv (<< 0.8-1), mythtv-common (<< 0.8-2)
Description: Personal video recorder application (database)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package sets up a MySQL database for use by MythTV. It should be
 installed on the system where the MySQL server resides.

Package: mythtv-backend
Architecture: any
Depends: mythtv-common, mythtv-transcode-utils, ${shlibs:Depends}, cron, wget, zenity | kdebase-bin, xterm, python, libjs-jquery, libxml-simple-perl, ${misc:Depends}
Conflicts: mythtv (<< 0.8-1)
Replaces: mythtv (<< 0.8-1), mythtv-frontend (<= 0.20-0.4)
Recommends: ntp | time-daemon | ntp-simple, logrotate, libmyth-python, libmythtv-perl, hdhomerun-config
Suggests: mythtv-frontend, mythweb, mythtv-database, xmltv-util
Description: Personal video recorder application (server)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains only the server software, which provides video and
 audio capture and encoding services. In order to be useful, it requires a
 mythtv-frontend installation, either on the same system or one reachable
 via the network.
 .
 A database is also required. The mythtv-database package must be installed,
 either on the same system, or one reachable via the network.
 .
 For a complete installation of all MythTV components, install the 'mythtv'
 package.

Package: mythtv-transcode-utils
Architecture: any
Depends: mythtv-common, ${shlibs:Depends}, ${misc:Depends}
Conflicts: mythtv-backend (<< 0.20.2-0ubuntu1)
Replaces: mythtv-backend (<< 0.20.2-0ubuntu1)
Suggests: mythtv-backend, mytharchive
Description: Utilities used for transcoding MythTV tasks
 Some utilities are applicable for both a frontend or a backend machine.
 This package provides utilities that can be used on both without
 requiring an entire backend to be installed.

Package: mythtv-frontend
Architecture: any
Depends: mythtv-common,
         ${shlibs:Depends},
         ${misc:Depends},
         libnotify-bin,
         adduser,
         zenity | kdebase-bin,
         wmctrl,
         libxml-simple-perl,
         libwww-perl,
         libmyth-python,
         python,
         python-imdbpy | python3-imdbpy,
         libgles2-mesa-dev [armhf],
         libegl1-mesa-dev [armhf],
Recommends: libmythtv-perl, python-imaging | python-pil, udisks2 | udisks
Suggests: mythtv-backend, mythmusic, mythweather, mythgame, ntp | time-daemon | ntp-simple
Conflicts: mythtv (<< 0.8-1), mythappearance (<< 0.21.0), mythstream (<< 0.21.0), mythflix (<< 0.23.0)
Replaces: mythtv (<< 0.8-1),  mythappearance (<< 0.21.0), mythvideo
Breaks: mythvideo
Description: Personal video recorder application (client)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains only the client software, which provides a front-end
 for playback and configuration. It requires access to a mythtv-backend
 installation, either on the same system or one reachable via the network.
 .
 A database is also required. The mythtv-database package must be installed,
 either on the same system, or one reachable via the network.
 .
 For a complete installation of all MythTV components, install the 'mythtv'
 package.

Package: libmyth
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libqt5sql5-mysql, ${misc:Depends}
Conflicts: mythtv (<< 0.7-5), libmyth-0.23-0, libmyth-0.24-0, libmyth-0.25-0, libmyth-0.26-0, libmyth-0.27-0, libmyth-0.28-0, libmyth-0.29-0, libmyth-29-0
Replaces: mythtv (<< 0.7-5), libmyth-0.23-0, libmyth-0.24-0, libmyth-0.25-0, libmyth-0.26-0, libmyth-0.27-0, libmyth-0.28-0, libmyth-0.29-0, libmyth-29-0
Description: Common library code for MythTV and add-on modules (runtime)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains a shared library, libmyth, which is used by various
 components in the system.

Package: libmyth-dev
Architecture: any
Section: libdevel
Depends: libmyth (= ${binary:Version}), ${misc:Depends}
Conflicts: libmyth-0.23-0-dev, libmyth-0.24-0-dev, libmyth-0.25-0-dev, libmyth-0.26-0-dev, libmyth-0.27-0-dev, libmyth-0.28-0-dev, libmyth-0.29-0-dev, libmyth-29-0-dev
Replaces: libmyth-0.23-0-dev, libmyth-0.24-0-dev, libmyth-0.25-0-dev, libmyth-0.26-0-dev, libmyth-0.27-0-dev, libmyth-0.28-0-dev, libmyth-0.29-0-dev, libmyth-29-0-dev
Description: Common library code for MythTV and add-on modules (development)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains files needed for developing applications which use
 libmyth (such as the various add-ons for MythTV)

Package: php-mythtv
Architecture: all
Depends:  ${misc:Depends}
Description: PHP Bindings for MythTV
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains files needed for using PHP based applications that
 connect to MythTV backends.

Package: libmythtv-perl
Architecture: all
Section: perl
Depends: ${misc:Depends}, ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libnet-upnp-perl, libio-socket-inet6-perl
Replaces: mythtv-common (<< 0.20.98 ), libmyth-perl
Conflicts: mythtv-common (<< 0.20.98 ), libmyth-perl
Description: Perl library to access some MythTV features
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains files needed for some PERL MythTV add-ons like
 nuvexport or mythrename.pl.

Package: libmyth-python
Architecture: all
Section: libs
Depends: ${python:Depends}, python, python-mysqldb, python-lxml, python-urlgrabber, ${misc:Depends}
Replaces: mythtv-common (<< 0.20.98 )
Conflicts: mythtv-common (<< 0.20.98 )
Description: Python library to access some MythTV features
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains files needed for some python MythTV add-ons.


Package: mythtv-backend-master
Architecture: all
Section: metapackages
Depends: default-mysql-server | virtual-mysql-server | mysql-server-5.7 | mysql-server-5.6 | mariadb-server,
         ntp | time-daemon | ntp-simple,
         mythtv-database,
         mythtv-backend,
         ${misc:Depends}
Recommends: mythweb
Description: Metapackage to setup and configure a "Master Backend" profile of MythTV
 This Meta-package will install and configure all necessary packages for this
 machine to behave as a "Master" Backend for a mythtv network.  This package
 is intended to be installed on the machine that will behave as the first
 (and possibly only) backend for the network.  Typically, this package will be
 installed on a server rather then a desktop. It makes no sense to install it
 on anything but the first backend machine on the network.

Package: mythtv-dbg
Architecture: any
Section: debug
Priority: extra
Recommends: libc6-dbg
Conflicts: mythplugins-dbg
Replaces: mythplugins-dbg
Depends: ${misc:Depends}, mythtv-backend (=${binary:Version}) | mythtv-frontend (=${binary:Version})
Description: Debug symbols for mythtv packages
 This package provides all debug symbols for mythtv packages since ddebs
 don't appear to always do the right thing.

Package: mythplugins
Architecture: all
Section: metapackages
Conflicts: mythflix, mythmovies
Replaces: mythmovies
Depends: ${misc:Depends},
         mythgame,
         mythmusic,
         mythnews,
         mythweather,
         mythweb,
         mytharchive,
         mythbrowser
Description: Metapackage package for MythTV plugins
 This Metapackage will install all available MythTV plugins.

Package: mythgame
Architecture: any
Depends: mythtv-frontend (>= ${binary:Version}),
         python,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Emulator & PC Game frontend module for MythTV
 MythGame can be used as a frontend to start any emulator that your host OS
 runs.

Package: mythmusic
Architecture: any
Depends: mythtv-frontend (>= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Music add-on module for MythTV
 MythMusic provides a digital audio jukebox integrated with MythTV. It
 supports Ogg Vorbis, FLAC and MP3 streams, displays visualizations, and can
 also encode new Ogg Vorbis or FLAC streams from audio CDs using a CD-ROM
 drive.

Package: mythnews
Architecture: any
Depends: mythtv-frontend (>= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: RSS feed news reader module for MythTV
 MythNews will fetch RSS feeds for you to read.

Package: mythweather
Architecture: any
Depends: mythtv-frontend (>= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         perl,
         libimage-size-perl,
         perlmagick,
         libxml-parser-perl,
         libxml-sax-perl,
         libcarp-clan-perl,
         libsoap-lite-perl,
         libdate-manip-perl,
         libdate-calc-perl,
         libwww-perl,
         libxml-simple-perl,
         libdatetime-format-iso8601-perl,
         libjson-perl,
         libxml-xpath-perl
Conflicts: mythtv-common (<< 0.20.99)
Replaces:  mythtv-common (<< 0.20.99)
Description: Weather add-on module for MythTV
 MythWeather displays current and forecast weather information within
 MythTV.

Package: mythweb
Architecture: all
Depends: mythtv-common (>= ${binary:Version}),
         apache2 | httpd,
         libapache2-mod-php | libapache2-mod-php5 | php | php5,
         php-mysql | php5-mysql,
         php-mythtv,
         libhttp-date-perl,
         libjs-prototype,
         libjs-scriptaculous,
         ${misc:Depends}
Recommends: libmath-round-perl
Description: Web interface add-on module for MythTV
 MythWeb provides a web interface which can be used to view listings,
 schedule recordings, delete recordings, and search for programs. It can
 also browse mythmusic's music database, and may eventually support playing
 music streams as well.

Package: mytharchive
Architecture: any
Depends: mythtv-transcode-utils(>= ${binary:Version}),
         mythtv-frontend (>= ${binary:Version}),
         mjpegtools,
         dvdauthor,
         genisoimage,
         dvd+rw-tools,
         python,
         python-imaging | python-pil,
         python-mysqldb,
         pmount,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: m2vrequantiser
Suggests: project-x
Replaces: mytharchive-data
Conflicts: mytharchive-data
Description: create and burn DVD's from MythTV - binary file
 MythArchive is a plugin for MythTV that lets you create DVDs from your
 recorded shows, files and any video files available on your
 system. It can also archive recordings in a proprietary format that
 archives not only the file but also all the associated metadata like title,
 description and cut list information which will mean you can create backups
 of myth recordings which can later be restored or it will also allow you to
 move recordings between myth systems without losing any of the metadata. It
 is a complete rewrite of the old MythBurn bash scripts, now using Python,
 and the mythfrontend UI plugin.

Package: mythzoneminder
Architecture: any
Suggests: zoneminder
Depends: mythtv-frontend (>= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: view status and display footage recorded with zoneminder
 MythZoneMinder interfaces with Zoneminder, a CCTV solution.
 You can view the status of ZoneMinder and watch live camera shots and
 recorded surveillance footage.

Package: mythbrowser
Architecture: any
Depends: mythtv-frontend (>= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Web browser plugin for MythTV
 Mythbrowser is a standards compliant web browser plugin for MythTV built
 on top of Webkit.

Package: mythtv-theme-mythbuntu
Architecture: all
Depends: mythtv-common, ttf-dejavu, ${misc:Depends}
Replaces: mythtv-common (<< 1:0.22.0~zrc1-0ubuntu1)
Description: MythTV Theme used in the Mythbuntu distribution
 This theme is the default theme that MythTV is using when installed
 with the Mythbuntu OS distribution.  It's also available to anyone
 not running the Mythbuntu OS distribution.
