#!/bin/sh -e

. /usr/share/debconf/confmodule

CONFIG=/etc/mythtv/config.xml
if [ -e $CONFIG ]; then
    if [ "`xpath  -q -e 'string(//DBName)' $CONFIG 2>/dev/null`" = "" ]; then
        db_set mythtv/mysql_mythtv_dbname "`xpath  -q -e 'string(//DatabaseName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_user "`xpath  -q -e 'string(//UserName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_password "`xpath  -q -e 'string(//Password)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_host "`xpath  -q -e 'string(//Host)' $CONFIG 2>/dev/null`"
    else
        ## This special case can be removed during the 14.10 dev cycle (it's only needed for upgrades from 0.25)
        db_set mythtv/mysql_mythtv_dbname "`xpath  -q -e 'string(//DBName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_user "`xpath  -q -e 'string(//DBUserName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_password "`xpath  -q -e 'string(//DBPassword)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_host "`xpath  -q -e 'string(//DBHostName)' $CONFIG 2>/dev/null`"
    fi
fi

db_input low mythtv/mysql_mythtv_dbname   || true
db_input low mythtv/mysql_mythtv_user     || true
db_input low mythtv/mysql_mythtv_password || true
db_input medium mythtv/mysql_host         || true
db_go || true

db_get mythtv/mysql_mythtv_password
if [ -z "$RET" ]; then
    if which pwgen; then
        mythtv_password="$(pwgen -s 8)"
    else
        mythtv_password="$(LC_ALL=C tr -dc A-Za-z0-9 < /dev/urandom | head -c 8)"
    fi
    db_set mythtv/mysql_mythtv_password "$mythtv_password"
fi
