#!/bin/sh -e
#Try and connect to a sane default before
#actually looking for input
. /usr/share/debconf/confmodule

CONFIG=/etc/mythtv/config.xml
BIND_CONFIG=/etc/mysql/conf.d/mythtv.cnf
if [ -e $CONFIG ]; then
    if [ "`xpath  -q -e 'string(//DBName)' $CONFIG 2>/dev/null`" = "" ]; then
        db_set mythtv/mysql_mythtv_dbname "`xpath  -q -e 'string(//DatabaseName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_user "`xpath  -q -e 'string(//UserName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_password "`xpath  -q -e 'string(//Password)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_host "`xpath  -q -e 'string(//Host)' $CONFIG 2>/dev/null`"
    else
        ## This special case can be removed during the 14.10 dev cycle (it's only needed for upgrades from 0.25)
        db_set mythtv/mysql_mythtv_dbname "`xpath  -q -e 'string(//DBName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_user "`xpath  -q -e 'string(//DBUserName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_password "`xpath  -q -e 'string(//DBPassword)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_host "`xpath  -q -e 'string(//DBHostName)' $CONFIG 2>/dev/null`"
    fi
fi

if which mysql >/dev/null; then
    if echo "show databases;" | mysql --defaults-file=/etc/mysql/debian.cnf >/dev/null 2>&1; then
        db_set mythtv/mysql_admin_user "debian-sys-maint"
        db_set mythtv/mysql_admin_password ""
    else
        db_input low  mythtv/mysql_host || true
        db_get mythtv/mysql_host
        HOST="$RET"

        if test -z "$HOST"; then
            HOST=localhost
            db_set mythtv/mysql_host "$HOST"
        fi

        db_input low mythtv/mysql_admin_user || true
        db_get mythtv/mysql_admin_user
        USER="$RET"
        db_subst mythtv/mysql_admin_password user "$USER"

        #Try to get it from mysql config
        #rather than ask twice.
        db_get mysql-server/root_password || RET="" && true
        PASSWORD="$RET"
        if ! test -z "$PASSWORD"; then
            db_set mythtv/mysql_admin_password $PASSWORD

        ##We couldn't get it from mysql's debconf, so we'll use our own##

        #if localhost and no running mysql process, our later check
        #would be failing
        elif [ "$HOST" = "localhost" ] && ! pgrep mysqld\$ >/dev/null; then
            db_set mythtv/mysql_admin_user "debian-sys-maint"
            db_set mythtv/mysql_admin_password ""
        #mysql should be running and installed, try 5 times to do it
        else
            i=1
            while ! echo "show databases;" | mysql --host="$HOST" --user="$USER" --password="$PASSWORD" >/dev/null 2>&1; do
                if [ $i -ge 5 ]; then
                    echo "Failed to connect to database (incorrect admin password)" >&2
                    break
                fi
                db_input high mythtv/mysql_admin_password || true
                db_go || true
                db_get mythtv/mysql_admin_password
                PASSWORD="$RET"
                i=$(($i+1))
            done
        fi
    fi
#mysql binary isn't installed yet, but that shouldn't cause the config
#to be failing because this might be called during the preinst
else
        db_set mythtv/mysql_admin_user "debian-sys-maint"
        db_set mythtv/mysql_admin_password ""
fi


#Ask the user about expandability
if [ -e $BIND_CONFIG ] && grep "^bind-address=" $BIND_CONFIG 1>/dev/null 2>&1; then
	db_set mythtv/public_bind "true"
else
	db_set mythtv/public_bind "false"
fi
db_input high mythtv/public_bind || true
db_go || true

exit 0
