#!/bin/sh -e
. /usr/share/debconf/confmodule

CONFIG=/etc/mythtv/config.xml
if [ -e $CONFIG ]; then
    if [ "`xpath  -q -e 'string(//DBName)' $CONFIG 2>/dev/null`" = "" ]; then
        db_set mythtv/mysql_mythtv_dbname "`xpath  -q -e 'string(//DatabaseName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_user "`xpath  -q -e 'string(//UserName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_password "`xpath  -q -e 'string(//Password)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_host "`xpath  -q -e 'string(//Host)' $CONFIG 2>/dev/null`"
    else
        ## This special case can be removed during the 14.10 dev cycle (it's only needed for upgrades from 0.25)
        db_set mythtv/mysql_mythtv_dbname "`xpath  -q -e 'string(//DBName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_user "`xpath  -q -e 'string(//DBUserName)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_mythtv_password "`xpath  -q -e 'string(//DBPassword)' $CONFIG 2>/dev/null`"
        db_set mythtv/mysql_host "`xpath  -q -e 'string(//DBHostName)' $CONFIG 2>/dev/null`"
    fi
fi

MYTHWEB_CONFIG=/etc/default/mythweb
if [ -e $MYTHWEB_CONFIG ]; then
	db_set mythweb/enable "`sed -n -e 's/^\(str  *\)\?enable = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
	db_set mythweb/only "`sed -n -e 's/^\(str  *\)\?only = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
	db_set mythweb/username "`sed -n -e 's/^\(str  *\)\?username = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
	db_set mythweb/password "`sed -n -e 's/^\(str  *\)\?password = \(.*\)$/\2/gp;' $MYTHWEB_CONFIG`"
fi

#Ask these questions regardless
db_input high mythweb/enable || true
db_input high mythweb/only || true
db_go

#If enabled, then we ask these too
db_get mythweb/enable
if [ "$RET" = "true" ]; then
	db_input high mythweb/username || true
	db_input high mythweb/password || true
	db_go 
fi
