#!/bin/sh -e
#Try and connect to a sane default before
#actually looking for input
. /usr/share/debconf/confmodule

CONFIG=/etc/mythtv/mysql.txt
if [ -e $CONFIG ]; then
    db_set mythtv/mysql_mythtv_dbname "`sed -n -e 's/^\(str  *\)\?DBName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_user "`sed -n -e 's/^\(str  *\)\?DBUserName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_password "`sed -n -e 's/^\(str  *\)\?DBPassword=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_host "`sed -n -e 's/^\(str  *\)\?DBHostName=\(.*\)$/\2/gp;' $CONFIG`"
fi

if which mysql >/dev/null; then
    if echo "show databases;" | mysql --defaults-file=/etc/mysql/debian.cnf >/dev/null 2>&1; then
        db_set mythtv/mysql_admin_user "debian-sys-maint"
        db_set mythtv/mysql_admin_password ""
    else
        db_input low  mythtv/mysql_host || true
        db_get mythtv/mysql_host
        HOST="$RET"

        if test -z "$HOST"; then
            HOST=localhost
            db_set mythtv/mysql_host "$HOST"
        fi

        db_input low mythtv/mysql_admin_user || true
        db_get mythtv/mysql_admin_user
        USER="$RET"
        db_subst mythtv/mysql_admin_password user "$USER"

        #Try to get it from mysql config
        #rather than ask twice.
        db_get mysql-server/root_password || RET="" && true
        PASSWORD="$RET"
        if ! test -z "$PASSWORD"; then
            db_set mythtv/mysql_admin_password $PASSWORD

        ##We couldn't get it from mysql's debconf, so we'll use our own##

        #if localhost and no running mysql process, our later check
        #would be failing
        elif [ "$HOST" = "localhost" ] && ! pgrep mysqld\$ >/dev/null; then
            db_set mythtv/mysql_admin_user "debian-sys-maint"
            db_set mythtv/mysql_admin_password ""
        #mysql should be running and installed, try 5 times to do it
        else
            i=1
            while ! echo "show databases;" | mysql --host="$HOST" --user="$USER" --password="$PASSWORD" >/dev/null 2>&1; do
                if [ $i -ge 5 ]; then
                    echo "Failed to connect to database (incorrect admin password)" >&2
                    break
                fi
                db_input high mythtv/mysql_admin_password || true
                db_go || true
                db_get mythtv/mysql_admin_password
                PASSWORD="$RET"
                i=$(($i+1))
            done
        fi
    fi
#mysql binary isn't installed yet, but that shouldn't cause the config
#to be failing because this might be called during the preinst
else
        db_set mythtv/mysql_admin_user "debian-sys-maint"
        db_set mythtv/mysql_admin_password ""
fi


#Ask the user about expandability
db_input high mythtv/public_bind || true
db_go || true

exit 0
