[Desktop Entry]
Name=MythTV Frontend
Comment=A frontend for all content on a mythtv-backend
GenericName=MythTV Viewer
Exec=mythfrontend --service
Type=Application
Icon=mythtv
Categories=GNOME;GTK;AudioVideo;Audio;Video;
X-AppInstall-Package=mythtv
StartupWMClass=mythfrontend.real
