[Desktop Entry]
Name=MythTV Web App Backend Setup
Comment=Used to configure a backend
GenericName=MythTV Web App Backend Setup
URL=http://localhost:6544/setupwizard
Type=Link
Icon=mythtv
Categories=GTK;System;Settings;
X-AppInstall-Package=mythtv
