[Unit]
Description=MythTV Backend
Wants=mysql.service
After=mysql.service

[Service]
Type=simple
User=mythtv
ExecStart=/usr/bin/mythbackend --syslog local7
Restart=on-failure
StartLimitInterval=10min
StandardOutput=null

[Install]
WantedBy=multi-user.target
